<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MAX_PAGES_TO_SEARCH" value="100000"/>
    <add key="USER_AGENT_BROWSER" value="Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.1 (KHTML, like Gecko) Chrome/13.0.782.112 Safari/535.1"/>
    <add key="FIRST_LINK_TO_CRAWL" value="https://foody.co.il/foody_recipe/%d7%a1%d7%9c%d7%98-%d7%aa%d7%a4%d7%95%d7%97%d7%99-%d7%90%d7%93%d7%9e%d7%94-%d7%9e%d7%9c%d7%a4%d7%a4%d7%95%d7%a0%d7%99%d7%9d-%d7%95%d7%a2%d7%99%d7%a8%d7%99%d7%aa/"/>
    <add key="SCOPE_LINK" value="https://foody.co.il/"/>
    <add key="PRODUCT_PAGE_POSTFIX" value="/json?cartContext%5BopenFrom%5D=CATEGORY&amp;cartContext%5BrecommendationType%5D=PRODUCT"/>
    <add key="PRODUCT_LINK_ATTRIBUTE" value="data-product-code"/>
    <add key="PRODUCT_ALLERGY_REGEX" value=""/>
    <add key="PRODUCT_NAME_REGEX" value="id=&quot;modaltitle&quot;>.*&lt;/h3>"/>
    <add key="PRODUCT_BARCODE_REGEX" value=""/>
    <add key="PRODUCT_INGREDIENTS_REGEX" value=""/>
    <add key="PRODUCT_ALLERGY_REGEX" value=""/>
  </appSettings>

  <connectionStrings>
    <add name="ProductDbConnectionString" connectionString="datasource=localhost;port=3306;username=root;password=root" />
  </connectionStrings>

</configuration>