<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MAX_PAGES_TO_SEARCH" value="100000"/>
		<add key="USER_AGENT_BROWSER" value="Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.1 (KHTML, like Gecko) Chrome/13.0.782.112 Safari/535.1"/>
		<add key="FIRST_LINK_TO_CRAWL" value="https://foody.co.il/foody_recipe/%d7%a1%d7%9c%d7%98-%d7%aa%d7%a4%d7%95%d7%97%d7%99-%d7%90%d7%93%d7%9e%d7%94-%d7%9e%d7%9c%d7%a4%d7%a4%d7%95%d7%a0%d7%99%d7%9d-%d7%95%d7%a2%d7%99%d7%a8%d7%99%d7%aa/"/>
		<add key="SCOPE_LINK" value="https://foody.co.il/"/>
		<add key="PRODUCT_PAGE_POSTFIX" value="/json?cartContext%5BopenFrom%5D=CATEGORY&amp;cartContext%5BrecommendationType%5D=PRODUCT"/>
		<add key="RECIPE_JSON_OBJECT_REGEX" value="id=&quot;recipe-schema&quot;>.*?&lt;/script>"/>
		<add key="START_INDEX_REGEX" value="20"/>
		<add key="END_INDEX_REGEX" value="9"/>
		<add key="RECIPES_DB_SQL_QUERY_PREFIX" value="INSERT INTO recipe_db.recipes (nameRecipes, categoryRecipes, ingredientsRecipes, urlRecipes) VALUES"/>
	</appSettings>

	<connectionStrings>
		<add name="RecipesDbConnectionString" connectionString="datasource=localhost;port=3306;username=root;password=root" />
	</connectionStrings>

</configuration>